* {
	box-sizing: border-box;
}

:root {
	--primary-color: #FF5B2E;
	--second-color: #000958;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	background: #FFFAF5;
}


/* Common */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Sora', sans-serif;
}

input, textarea, select, button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 56px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	height: var(--height);
	border: 1px solid rgb(0, 9, 88, 0.7);
	border-radius: 99px;
	color: var(--second-color);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: var(--height); /* 100% */
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
}

.heading {
	min-width: 350px;
	color: var(--second-color);
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.2; /* 119.231% */
}

.desc {
	min-width: 120px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6; /* 187.5% */
}

.btn__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 8px;
	color: var(--primary-color);
	background: #fff;
}


/* Header */
.header {
	padding: 26px 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
}

.navbar__link,
.header-action__link {
	padding: 8px 18px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	color: #5E6085;
}

.navbar__link:hover {
	color: var(--second-color);
	text-transform: 1px 0 0 currentColor;
}

.header-action__btn {
	--height: 50px;
	min-width: 117px;
}

/* Hero */
.hero {
	margin-top: 74px;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 120px;
}

.hero__media {
	position: relative;
	display: flex;
	padding-bottom: 94px;
}

.hero__img-wrap {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 388px;
	height: 488px;
	border-radius: 16px;
	background: #FE997B;	
	border: 3px solid #fff;
}

.hero__img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.hero__decor {
	position: absolute;
	z-index: -1;
}

.hero__decor-right {
	top: 16px;
    right: -40px;
}

.hero__decor-left {
	bottom: 10px;
	left: -58px;
}

.hero__img-wrap-small {
	align-self: flex-end;
	width: 186px;
	height: 244px;
	margin-bottom: -58px;
    margin-left: -24px;
	padding-top: 24px;
	border: 2px solid #fde0e2;
	background: #FAA7AD;
	
}

.hero__list {
	position: absolute;
	left: 129px;
	bottom: 0;
	width: 250px;
	height: 156px;
	padding: 18px 14px;
	border-radius: 10px;
	background: #fff;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
	display: flex;
}

.hero-list-item__thumb {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #FEC23F;
	object-fit: cover;
}

.hero-list-item__info {
	margin-left: 10px;
}

.hero-list-item__title {
	color: #181E52;
	font-family: Sora;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.hero-list-item__skeleton {
	margin-top: 7px;
	width: var(--width, 118px);
	height: 4px;
	border-radius: 10px;
	background: var(--second-color);
	opacity: 0.08;
}

.hero-list-item__separate {
	margin: 20px 0;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: #F2F2F2;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
	background: #6597C2;
}

.hero__heading {
	min-width: 517px;
	font-size: 6.6rem;
	font-weight: 800;
}

.hero__desc {
	width: 391px;
	margin: 24px 0 38px;
}

.hero__row {
	display: flex;
	align-items: center;
}

.hero__cta-btn {
	--height: 60px;

	min-width: 190px;
	font-size: 1.6rem;
	border: none;
	color: #fff;
	background: var(--primary-color);
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
	margin-left: 24px;
	color: var(--second-color);
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	text-decoration-line: underline;
}

/* About */
.about {
	margin-top: 138px;
	margin-bottom: 184px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	row-gap: 146px;
}

.about__label {
	margin-bottom: 15px;
	color: #5E6085;
	font-family: Sora;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.about__heading {
	width: 446px;
	margin-bottom: 24px;
}

.about__desc {
	width: 431px;
	margin-bottom: 54px;
}

.about__checklist {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-start;
	gap: 34px 36px;
}

.about__checklist-item {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #48496A;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	cursor: pointer;
}

.about__checklist-item::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #FF5D31;
	border-radius: 4px;
	/* box-shadow: 0px 5px 15px -3px rgba(255,93,49,0.69); */
}

.about__checklist-item:hover::before {
	box-shadow: 0px 5px 15px -3px rgba(255,93,49,0.69);
}

.about__checklist-item::after {
	content: url(../img/check.svg);
	position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
	position: relative;
}

.about__card {
	position: absolute;
	top: 157px;
	left: 0;
	width: 136px;
	height: 156px;
	padding: 31px 26px;
	border-radius: 10px;
	background: #5BD6E2;
	box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
	text-align: center;
}

.about__card-title {
	display: inline-block;
	margin-bottom: 14px;
	font-family: Sora;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1; /* 100% */
	color: #FFF;
}

.about__card-desc {
	width: 83px;
	color: #C6F4F9;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.4; /* 142.857% */
}

.about__card-decor {
	position: absolute;
    top: -38px;
    right: -32px;
}

.about__img-wrap {
	position: relative;
	width: 494px;
	margin-left: auto;
}


.about__img-wrap::after {
	position: absolute;
	inset: auto 0 0 0;
	content: "";
	z-index: -1;
	height: 336px;
	border-radius: 16px;
	background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);	
}

.about__img {
	display: block;
	width: 450px;
	margin: 0 auto;
}

.about__media-decor {
	position: absolute;
	z-index: -1;
    top: 148px;
    right: -50px;
}

.about__img-wrap-bottom {
	width: 458px;
	/* height: 0; */
	margin-left: 0;
	border-radius: 18px;
	border: 2px solid #FFF;
	background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
	box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
	content: none;
}

.about__img-bottom {
	width: 100%;
}

.about__img-decor {
	position: absolute;
}

.about__img-decor:nth-child(1) {
	top: 10px;
    right: 63px;
}

.about__img-decor:nth-child(2) {
	top: -20px;
    right: 11px;
}

.about__img-decor:nth-child(3) {
	top: 31px;
    right: -23px;
}

.about__img-decor:nth-child(4) {
	top: 266px;
    right: -35px;
}

.about__img-decor:nth-child(5) {
	top: 334px;
    right: 19px;
}

.about__img-decor:nth-child(6) {
	bottom: -54px;
    right: -42px;
}

.about__content-heading {
	margin: 36px 0 24px;
}

.about__content-desc {
	width: 511px;
	margin-bottom: 52px;
}

.tab__list {
	position: relative;
	display: flex;
	column-gap: 56px;
}

.tab__content-more::after,
.tab__item-active::after,
.tab__list::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	border-radius: 2px;
	opacity: 0.07;
	background: #FF5B2E;
}

.tab__item {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.tab__item-active::after {
	width: 95px;
	opacity: 1;
}

.tab__title {
	color: #48496A;
	font-family: Sora;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.tab__content-desc {
	width: 391px;
	padding: 36px 0 32px;
	font-size: 1.4rem;
	line-height: 1.4;
}

.tab__content-item {
	display: none;
}

.tab__content-active {
	display: block;
}

.tab__content-more {
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
	color: #FF5D31;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
}

.tab__content-more::after {
	width: 86px;
	height: 1.5px;
	opacity: 1;
}

/* Service */
.service {
	padding: 68px 0 100px;
	background: #FFF6ED;
}

.service__top {
	margin-bottom: 71px;
	text-align: center;
}

.service__desc {
	margin-bottom: 15px;
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	color: #5E6085;
}

.service__body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 65px;
}

.service-item {
	width: 294px;
	height: 208px;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid rgba(255, 188, 122, 0.26);
	background: #FFF;
}

.service-item + .service-item {
	margin-top: 24px;
}

.service-item__heading {
	position: relative;
	padding-left: 12px;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.service-item__heading::before {
	position: absolute;
	inset: 0 auto 0 0;
	display: inline-block;
	content: "";
	width: 2px;
	border-radius: 2px;
	background: linear-gradient(#FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
	width: 244px;
	margin: 18px 0 24px;
	font-size: 1.4rem;
	line-height: 1.4; /* 171.429% */
}

.service-item__more {
	display: inline-flex;
	align-items: center;
	color: #34396A;
	font-family: Sora;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.service-item__more::after {
	content: url(../img/ArrowUpRight.svg);
	margin-left: 6px;
    margin-top: 3px;
}

.service__media {
	position: relative;
	margin-top: 17px;
}

.service__media::after {
	position: absolute;
	right: 15px;
	left: 22px;
	bottom: 0;
	content: "";
	height: 350px;
	border-radius: 10px;
	background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
}

.service__cta-wrap {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.service__btn {
	min-width: 214px;
    border-radius: 31px;
	border: 1px solid #FF5B2E;
	color: #FF5B2E;
	font-size: 1.6rem;
	font-weight: 500;
}

.service__btn:hover {
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
	margin-top: 130px;
}

.staff__desc {
	margin-bottom: 15px;
	font-family: 'Sora', sans-serif;
	font-family: Sora;
	font-weight: 600;
	color: #5E6085;
}

.staff__desc,
.staff-item,
.staff__heading {
	text-align: center;
}

.staff__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 35px;
	margin-top: 45px;
}

.staff-item__img-wrap {
	position: relative;
	margin: 0 16px;
	border-radius: 130px;

}

.staff-item__img-wrap::before {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 94%;
	border-radius: inherit;
}

.staff-item__img-wrap::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: calc(100% + 36px);
	height: 100%;
	transform: translateX(-50%);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
	background-image: url(../img/staff-decor1.svg);
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
	background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
	background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
	background-image: url(../img/staff-decor2.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
	background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
	background-image: url(../img/staff-decor3.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
	background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
	background-image: url(../img/staff-decor4.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
	background-position: 0 16px;
}

.staff-item__img {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	border-radius: inherit;
}

.staff-item__title {
	margin: 34px 0 14px;
	color: #656689;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.staff-item__name {
	color: #000958;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.staff__btn-wrap {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}

.staff__btn {
	width: 193px;
	color: #FF5B2E;
	border-color: currentColor;
	font-size: 1.6rem;
	font-weight: 500;
}

.staff__btn:hover {
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Pricing */
.pricing {
	margin-top: 130px;
	padding: 86px 0;
	background: #FFF6ED;
}

.pricing__heading,
.pricing__desc {
	text-align: center;
}

.pricing__desc {
	margin: 24px auto 38px;
	width: 709px;
	color: #656689;
}

.pricing__switch-wrap {
	display: flex;
	justify-content: center;
}

.pricing__switch-label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 276px;
	height: 56px;
	border-radius: 31px;
	border: 1px solid #ff5b2e99;
	user-select: none;
	cursor: pointer;
}

.pricing__switch-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 100%;
	border-radius: inherit;
	background: #FF5B2E;
}

.pricing__switch-value {
	position: relative;
	z-index: 1;
	color: #FFF;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
}

.pricing__switch-input:checked + .pricing__switch-label::before {
	width: 131px;
	left: auto;
	right: 0;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
	color: #FF5B2E;
}

.pricing__switch-inner {
	position: relative;
}

.pricing__sale-off {
	position: absolute;
	top: -10px;
    right: -112px;
}

