* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
}


/* Common */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Sora', sans-serif;
}

input, textarea, select, button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 56px;

	display: inline-block;
	min-width: 130px;
	height: var(--height);
	border: 1px solid rgb(0, 9, 88, 0.7);
	border-radius: 99px;
	color: #000958;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: var(--height); /* 100% */
	opacity: 0.9;
}


/* Header */
.header {
	padding: 26px 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
}

.navbar__link,
.header-action__link {
	padding: 8px 18px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	color: #5E6085;
}

.navbar__link:hover {
	color: #000958;
	text-transform: 1px 0 0 currentColor;
}

.header-action__btn {
	--height: 50px;
	min-width: 117px;
}