* {
	box-sizing: border-box;
}

:root {
	--primary-color: #FF5B2E;
	--second-color: #000958;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	background: #FFFAF5;
}


/* Common */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Sora', sans-serif;
}

input, textarea, select, button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 56px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	height: var(--height);
	border: 1px solid rgb(0, 9, 88, 0.7);
	border-radius: 99px;
	color: var(--second-color);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: var(--height); /* 100% */
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
}

.heading {
	min-width: 350px;
	color: var(--second-color);
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.2; /* 119.231% */
}

.desc {
	min-width: 120px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6; /* 187.5% */
}

.btn__icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 8px;
	color: var(--primary-color);
	background: #fff;
}


/* Header */
.header {
	padding: 26px 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
}

.navbar__link,
.header-action__link {
	padding: 8px 18px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	color: #5E6085;
}

.navbar__link:hover {
	color: var(--second-color);
	text-transform: 1px 0 0 currentColor;
}

.header-action__btn {
	--height: 50px;
	min-width: 117px;
}

/* Hero */
.hero {
	margin-top: 74px;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 120px;
}

.hero__media {
	position: relative;
	display: flex;
	padding-bottom: 94px;
}

.hero__img-wrap {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 388px;
	height: 488px;
	border-radius: 16px;
	background: #FE997B;	
	border: 3px solid #fff;
}

.hero__img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.hero__decor {
	position: absolute;
	z-index: -1;
}

.hero__decor-right {
	top: 16px;
    right: -40px;
}

.hero__decor-left {
	bottom: 10px;
	left: -58px;
}

.hero__img-wrap-small {
	align-self: flex-end;
	width: 186px;
	height: 244px;
	margin-bottom: -58px;
    margin-left: -24px;
	padding-top: 24px;
	border: 2px solid #fde0e2;
	background: #FAA7AD;
	
}

.hero__list {
	position: absolute;
	left: 129px;
	bottom: 0;
	width: 250px;
	height: 156px;
	padding: 18px 14px;
	border-radius: 10px;
	background: #fff;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
	display: flex;
}

.hero-list-item__thumb {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #FEC23F;
	object-fit: cover;
}

.hero-list-item__info {
	margin-left: 10px;
}

.hero-list-item__title {
	color: #181E52;
	font-family: Sora;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.hero-list-item__skeleton {
	margin-top: 7px;
	width: var(--width, 118px);
	height: 4px;
	border-radius: 10px;
	background: var(--second-color);
	opacity: 0.08;
}

.hero-list-item__separate {
	margin: 20px 0;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: #F2F2F2;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
	background: #6597C2;
}

.hero__heading {
	min-width: 517px;
	font-size: 6.6rem;
	font-weight: 800;
}

.hero__desc {
	width: 391px;
	margin: 24px 0 38px;
}

.hero__row {
	display: flex;
	align-items: center;
}

.hero__cta-btn {
	--height: 60px;

	min-width: 190px;
	font-size: 1.6rem;
	border: none;
	color: #fff;
	background: var(--primary-color);
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
	margin-left: 24px;
	color: var(--second-color);
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	text-decoration-line: underline;
}

/* About */
.about {
	margin-top: 138px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.about__label {
	margin-bottom: 15px;
	color: #5E6085;
	font-family: Sora;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.about__heading {
	width: 446px;
	margin-bottom: 24px;
}

.about__desc {
	width: 431px;
	margin-bottom: 54px;
}

.about__checklist {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-start;
	gap: 34px 36px;
}

.about__checklist-item {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #48496A;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	cursor: pointer;
}

.about__checklist-item::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #FF5D31;
	border-radius: 4px;
	/* box-shadow: 0px 5px 15px -3px rgba(255,93,49,0.69); */
}

.about__checklist-item:hover::before {
	box-shadow: 0px 5px 15px -3px rgba(255,93,49,0.69);
}

.about__checklist-item::after {
	content: url(../img/check.svg);
	position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
	position: relative;
}

.about__card {
	position: absolute;
	top: 157px;
	left: 0;
	width: 136px;
	height: 156px;
	padding: 31px 26px;
	border-radius: 10px;
	background: #5BD6E2;
	box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
	text-align: center;
}

.about__card-title {
	display: inline-block;
	margin-bottom: 14px;
	font-family: Sora;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1; /* 100% */
	color: #FFF;
}

.about__card-desc {
	width: 83px;
	color: #C6F4F9;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.4; /* 142.857% */
}

.about__card-decor {
	position: absolute;
    top: -38px;
    right: -32px;
}

.about__img-wrap {
	position: relative;
	width: 494px;
	margin-left: auto;
}


.about__img-wrap::after {
	position: absolute;
	inset: auto 0 0 0;
	content: "";
	z-index: -1;
	height: 336px;
	border-radius: 16px;
	background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);	
}

.about__img {
	display: block;
	width: 450px;
	margin: 0 auto;
}

.about__media-decor {
	position: absolute;
	z-index: -1;
    top: 148px;
    right: -50px;
}


